/* Importamos las fuentes que vamos a utilizar */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    /* Reseteamos márgenes y paddings por defecto, y aplicamos el box-sizing */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Definimos la fuente principal y sus propiedades */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    /* Centramos el contenido tanto horizontal como verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Establecemos el tamaño total del body */
    height: 100vh;
    /* Fondo blanco */
    background: white;
}

.container {
    /* El contenedor ocupa el 100% de ancho y toda la altura de la pantalla */
    height: 100vh;
    width: 100%;
    /* Flex para organizar su contenido */
    display: flex;
    /* Transición suave de todos los cambios en propiedades */
    transition: all 1s ease;
}

    /* Sección de inicio de sesión (lado izquierdo) */
    .container .login_section {
        /* Ancho del 40% */
        width: 40%;
        /* Centramos su contenido */
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

        /* Contenedor del formulario de inicio de sesión */
        .container .login_section .Information_LogIn {
            /* Aplicamos un degradado como fondo */
            background: linear-gradient(135deg, #53738f, #6a94bf, #7db7e0);
            /* Bordes redondeados */
            border-radius: 25px;
            /* Definimos su tamaño y agregamos sombra */
            width: 80%;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, .15);
            /* Relleno interior */
            padding: 30px;
        }

            /* Estilizamos el título dentro de la sección de inicio de sesión */
            .container .login_section .Information_LogIn h2 {
                color: white;
                font-size: 2.3rem;
            }

            /* Estilo para los párrafos de descripción */
            .container .login_section .Information_LogIn p {
                color: #d9d9d9;
                margin: 10px 0 0 0;
            }

            /* Estilo del formulario */
            .container .login_section .Information_LogIn .form {
                margin-top: 30px;
                padding: 0 40px;
            }

/* Estilizamos las etiquetas dentro del formulario */
.form label {
    display: flex;
    align-items: center;
    margin-top: 20px;
    /* Bordes redondeados y sombra */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    /* Fondo blanco */
    background-color: white;
    /* Transición suave */
    transition: all 0.5s ease;
}

    /* Estilos para los íconos dentro del label */
    .form label i {
        padding-left: 20px;
        padding-right: 10px;
        color: #a0b1bf;
        transition: all 0.5s ease;
    }

    /* Cambio de color del ícono al pasar el ratón por encima */
    .form label:hover i {
        color: #53738f;
    }

/* Cambio de color del ícono cuando el input recibe foco */
.form :focus-within i {
    color: #53738f;
}

/* Estilizamos el input dentro del label */
.form label input {
    /* El input ocupa todo el ancho disponible */
    width: 100%;
    /* Espaciado interior y eliminación de bordes */
    padding: 10px;
    background-color: white;
    border: none;
    outline: none;
    /* Bordes redondeados */
    border-radius: 10px;
    color: #333;
    /* Transición suave */
    transition: all 0.5s ease;
}

/* Cambio de fondo del label cuando el input tiene foco */
.form label:focus-within {
    background-color: #d7d7d7;
}

/* Cambio de fondo del input al recibir foco */
.form label input:focus {
    background-color: #d7d7d7;
}

/* Opciones adicionales en el formulario de inicio de sesión */
.form .option_SigIn {
    margin-top: 10px;
    text-align: left;
    cursor: pointer;
}

    /* Estilos para los enlaces de las opciones */
    .form .option_SigIn a {
        color: white;
        font-size: 13px;
        text-decoration: none;
        transition: all 0.5s ease;
    }

        /* Cambiamos el tamaño y color del enlace cuando el ratón está encima */
        .form .option_SigIn a:hover {
            font-size: 13.5px;
            color: #c9d5df;
        }

/* Estilo para el botón de submit */
.form button {
    /* Fondo, bordes y tamaño del botón */
    background-color: white;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    outline: none;
    /* Transición suave */
    transition: all 1s ease;
}

    /* Cambio de color del botón al pasar el ratón */
    .form button:hover {
        background: #ebebeb;
    }

/* Estilo para el nombre del banco */
#NameBank {
    /* Posicionamos el nombre del banco en la esquina superior izquierda */
    position: absolute;
    top: 20px;
    left: 20px;
    /* Aplicamos la fuente personalizada */
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

/* Sección derecha de la pantalla (imagen de fondo) */
.container .right_section {
    /* Ancho del 60% */
    width: 60%;
    /* Definimos la imagen de fondo */
    background-image: url('../img/Background_LogIn.png');
    background-size: contain;
    /* Bordes redondeados */
    border-radius: 20px;
}

.container_error {
    color: #e5e3e3; /* Color del texto del mensaje de error */
    text-align: left; /* Alineación a la izquierda */
    margin: 5px 0 0 10px;
    font-size: 0.8em; /* Tamaño de fuente opcional */
}


/* Estilo para desactivar el fondo azul del autocompletar en Chrome y mantener el color de fondo */
input:-webkit-autofill {
    background-color: #ffffff !important; /* Cambia esto al color deseado */
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset; /* Cambia esto al mismo color */
    box-shadow: 0 0 0 1000px #ffffff inset; /* Cambia esto al mismo color */
    -webkit-text-fill-color: inherit; /* Mantiene el color del texto */
}
